#firstDepo{

    background-image: url('./images/luanathogt.png');
    background-size: cover;
  
}

#secondDepo {

    background-image: url('./images/alunowesley.png');
    background-size: cover;

}

#imageBackground{

    background-image: url('./images/vectorschool.png');
    background-size: cover;
  
}